<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Document</title>
</head>

<body>
    <div class="d-flex">
        <div class="container-md" style="margin: 5px; background-color:grey; border: 3px solid black;">
            {% with messages = get_flashed_messages()%}<!-- declare a variable called messages -->
            {% if messages %}<!-- check if there are any messages -->
            {% for message in messages %}<!-- loop through the messages -->
            <p>{{message}}</p><!-- display each message in a paragraph tag -->
            {% endfor %}
            {% endif %}
            {% endwith %}

            <form action="/register" method="post" class="col-6 mx-auto">
                <h2 class="text-center, text-primary">Register</h2>
                <div class="form-group">
                    <label for="first_name">First Name:</label>
                    <input type="text" name="first_name" class="form-control">
                </div>
                <div class="form-group">
                    <label for="last_name">Last Name:</label>
                    <input type="text" name="last_name" class="form-control">
                </div>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="text" name="email" class="form-control">
                </div>
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" name="password" class="form-control">
                </div>
                <div class="form-group">
                    <label for="confirm_password">Confirm Password:</label>
                    <input type="password" name="confirm_password" class="form-control">
                </div>
                <input type="submit" value="Register" class="btn btn-primary">
            </form>
        </div>



        <div class="container-md" style="margin: 5px; background-color:gray; border: 3px solid black;">
            <form action="/login" method="POST">
                <div class="mb-3">
                    <h1 class="text-center, text-success">Login</h1>
                    <label for="exampleInputEmail1" class="form-label">Email address</label>
                    <input type="email" name='email' class="form-control" id="exampleInputEmail1"
                        aria-describedby="emailHelp">
                    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                    <input type="password" name="password" class="form-control" id="exampleInputPassword1">
                </div>
                <button type="submit" class="btn btn-success">Submit</button>
            </form>

            {% with messages = get_flashed_messages()%}<!-- declare a variable called messages -->
                 {% if messages %}<!-- check if there are any messages -->
                 {% for message in messages %}<!-- loop through the messages -->
                <p>{{message}}</p><!-- display each message in a paragraph tag -->
                    {% endfor %}
            {% endif %}
            {% endwith %}
        </div>
    </div>
</body>

</html>